templates/P6-meeting-notes-crm-sync.json
{
  "name": "Meeting Notes → CRM Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "meeting-notes",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "meeting-notes"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Extract from these meeting notes: attendees, key decisions, action items (with owner and deadline), and next steps. Return JSON: {\\\"attendees\\\": [...], \\\"decisions\\\": [...], \\\"action_items\\\": [{\\\"task\\\": \\\"...\\\", \\\"owner\\\": \\\"...\\\", \\\"deadline\\\": \\\"...\\\"}], \\\"next_steps\\\": [...]}.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $json.body.notes }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "openai",
      "name": "AI Extract Action Items",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MeetingDate": "={{ $now.format('yyyy-MM-dd') }}",
            "Attendees": "={{ JSON.stringify($json.attendees) }}",
            "Decisions": "={{ JSON.stringify($json.decisions) }}",
            "ActionItems": "={{ JSON.stringify($json.action_items) }}",
            "NextSteps": "={{ JSON.stringify($json.next_steps) }}",
            "RawNotes": "={{ $json.body.notes }}"
          }
        },
        "options": {}
      },
      "id": "sheets-write",
      "name": "Save to CRM Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [700, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "Google Sheets OAuth2"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Extract Action Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Extract Action Items": {
      "main": [
        [
          {
            "node": "Save to CRM Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
