templates/S6-csv-data-cleaner.json
{
  "name": "CSV Data Cleaner (AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "csv-clean",
        "responseMode": "lastNode",
        "responseCode": 200
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "csv-clean"
    },
    {
      "parameters": {
        "operation": "read",
        "filePath": "={{ $json.body.csvUrl || '/tmp/upload.csv' }}",
        "options": {
          "delimiter": ","
        }
      },
      "id": "read-csv",
      "name": "Read CSV",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.OPENAI_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"gpt-4o-mini\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"Clean this data: fix typos, normalize names, standardize formats, remove duplicates. Return cleaned JSON array.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ JSON.stringify($json) }}\"\n    }\n  ]\n}",
        "options": {}
      },
      "id": "openai",
      "name": "AI Clean Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [700, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Read CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read CSV": {
      "main": [
        [
          {
            "node": "AI Clean Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "instanceId": ""
  },
  "tags": []
}
